:root {
  --main-color: #fd4a18;
  --main-bg-color: #fff6f3;
}
*::selection {
  background-color: var(--main-color);
  color: white;
}
.address-box h2 {
  color: #ebeced;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  margin: 0;
}

.address-box p {
  text-align: center;
  position: relative;
  top: -20px;
}

nav .logo img {
  width: 120px;
}
nav .active a {
  color: var(--main-color) !important;
}
nav .nav-item a {
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 0.3s;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
nav .nav-item a:hover {
  border-bottom: 1px solid var(--main-color);
  color: var(--main-color) !important ;
}
nav button.submit {
  background-color: var(--main-color) !important;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

nav button.submit:hover {
  background-color: black !important;
}

.home {
  background-image: url(../images/banner.jpg);
  background-size: cover;
}
.home::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #db978035;
  position: absolute;
}
.home .text-box {
  position: relative;
  background-color: #fd6f49;
  color: white;
}
@media (max-width: 768px) {
  .home .text-box {
    width: 100% !important;
  }
}

.home .dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);

  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
}
.home .dots ul li {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.home .dots ul li:nth-child(2) {
  background-color: var(--main-color);
  border-width: 0;
}
.services {
  background-color: var(--main-bg-color);
}
.services .icons {
  border: 2px dashed var(--main-color);
}
.services .icons i {
  color: var(--main-color);
}
.services .description h3 {
  color: var(--main-color);
}

.protfolio .box img {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.protfolio .box:hover img {
  transform: scale(1.2) rotate(5deg);
  -webkit-transform: scale(1.2) rotate(5deg);
  -moz-transform: scale(1.2) rotate(5deg);
  -ms-transform: scale(1.2) rotate(5deg);
  -o-transform: scale(1.2) rotate(5deg);
}
.protfolio .box .desc {
  height: 40%;
  left: 0;
  right: 0;
  bottom: -40%;
  background-color: white;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.protfolio .box:hover .desc {
  bottom: 0;
}

.protfolio .box .desc span {
  color: var(--main-color);
}

.protfolio ul li {
  padding: 15px 10px;
}
.protfolio ul li:first-child {
  background-color: var(--main-color);
}
.video video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
}
.protfolio button {
  background-color: var(--main-color);
  color: white;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.video .desc {
  background-color: #b73512;
  width: 100%;
  text-align: center;
}
.video button {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.video button:hover {
  background-color: var(--main-color) !important;
}
.pricing {
  background-color: var(--main-bg-color);
}
.pricing .price {
  border-color: var(--main-color) !important;
}

.pricing ul li:not(:last-child):before,
.pricing ul li:last-child::before {
  content: "";
  position: absolute;

  height: 1px;
  background-color: var(--main-color);
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.pricing ul li:not(:last-child):before {
  width: 50%;
}
.pricing ul li:last-child::before {
  width: 100%;
}
.pricing button {
  color: var(--main-color);
  border-color: var(--main-color) !important;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.pricing button:hover {
  background-color: var(--main-color);
  color: white;
}
.contact textarea {
  height: 200px;
}
.contact button {
  background-color: var(--main-color);
  color: white;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.contact button:hover,
.protfolio button:hover {
  background-color: black;
  color: white;
}

footer {
  background-color: rgba(0, 0, 0, 0.898);
}
footer .box:not(:first-child) li {
  color: var(--main-color);
  font-weight: bold;
  line-height: 50px;
}

footer .box h3:not(:last-child)::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: var(--main-color);

  left: 0;
  bottom: -10px;
}

footer p span {
  color: var(--main-color);
  margin: 0 5px;
}
footer .box:first-child li:not(:last-child) i {
  border-right: 0.5px solid rgba(255, 255, 255, 0.357);
}

.about .image::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  left: -10px;
  top: -10%;
  background-color: #ebeced;
  z-index: -1;
}
.about .image::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 110%;
  right: -10px;
  top: 0;
  z-index: -1;
  border-bottom: 80px solid var(--main-color);
  border-left: 80px solid var(--main-color);
  animation: after-image 2s linear infinite alternate;
  -webkit-animation: after-image 2s linear infinite alternate;
}

@keyframes after-image {
  0% {
    top: 0;
  }
  100% {
    top: 10%;
  }
}
@media (max-width: 992px) {
  .about .image {
    margin-bottom: 30px;
  }
  .about .image::before {
    display: none;
  }
  .about .image::after {
    display: none;
  }
  .about .image img {
    width: 100% !important;
  }
}
